<h1>Freelancer::Profile#new</h1>
<p>Find me in app/views/freelancer/profile/new.html.erb</p>
<%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn head-btn1' %>
<%= link_to 'switch as client', client_path, data: {turbo: false} %>